In [3]:
import pandas as pd
from sqlalchemy import create_engine
csv_inegi = "./Resources/datos.csv"

In [2]:
PIB_df = pd.read_csv(csv_inegi,encoding ='UTF-8')
PIB_df.head(5)

,Estado,Sector,Fecha,Cartera
0,AGUASCALIENTES,"Agricultura, Silvicultura, Ganadería y Pesca",2019-05-19,14
1,AGUASCALIENTES,"Alimentos, Bebidas y Tabaco",2019-05-19,66
2,AGUASCALIENTES,Comercio,2019-05-19,25
3,AGUASCALIENTES,Comunicaciones y Telecomunicaciones,2019-05-19,12
4,AGUASCALIENTES,Construcción,2019-05-19,72

In [13]:
#**************MYSQL LOCAL
rds_connection_string =  "root:root@localhost:3306/cartera_vigente"
#************** MYSQL HEROKU
#rds_connection_string =  "b62501bab4eb42:233b2b1b@us-cdbr-iron-east-02.cleardb.net/heroku_2a68ca7f0c22a7b/"
engine = create_engine(f'mysql://{rds_connection_string}')

In [14]:
PIB_df.to_sql(name='cartera_vigente', con=engine, if_exists='append', index=False)

In [9]:
import sqlalchemy as db
connection = engine.connect()
metadata = db.MetaData()
census = db.Table('cartera_vigente', metadata, autoload=True, autoload_with=engine)
Entidad=db.select([census]).where(census.columns.Estado == 'Aguascalientes')

In [10]:
print(Entidad)

SELECT cartera."Estado", cartera."Sector", cartera."Fecha", cartera."Cartera"
FROM cartera
WHERE cartera."Estado" = :Estado_1